@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-red {
  background-color: #3ebbdd;
}
.bg-main-gray {
  background-color: #d6d7db;
}
.bg-main-left {
  background-color: #ffffff;
}
.bg-main-right {
  background-color: #f7f6f9;
}
.font-main {
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&family=Montserrat:wght@300;400;600;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,900&display=swap");
